html {
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Heebo, Sans Serif;
  font-weight: 400;
  background: rgba(22, 22, 26, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  color: #f7f8f8;
}

p {
  color: #95a2b3;
}

#main {
  height: 100vh;
  background: linear-gradient(
    180deg,
    #16161a 0%,
    #0d1d27 40%,
    #241e22 70.14%,
    #16161a 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main h1 {
  font-size: 5em;
  margin: 0px;
}
@media screen and (max-width: 600px) {
  #main h1 {
    font-size: 2em;
  }
}
#main p {
  font-size: 1.5em;
  margin: 0px;
  text-align: center;
  max-width: 800px;
  padding: 0px 20px;
}
@media screen and (max-width: 600px) {
  #main p {
    font-size: 1em;
  }
}

a.contact-us {
  text-decoration: none;
  display: block;
  margin-top: 20px;
  padding: 12px 26px;
  color: #fff;
  background: #4551b5;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
